.fav__page.overflow
  .welcome
    .welcome__container
      .welcome__title
        .welcome__title-top Великі перегони
        .welcome__title-center 660 000 #[span ₴]
        .welcome__title-bottom Призовий фонд
      .welcome__description *Загальний призовий фонд Акції «Великі перегони» складається з 660 000 ігрових замінників гривні. Деталі на сайті www.favbet.ua. Період дії акції з 12:00 21.03.2024 до 23:59 08.12.2024 року
  .info
    .info__bg
    .info__container
      .info__title
        .info__title-top Прогнозуй переможця гонки та
        .info__title-bottom розділяй призовий фонд
      .info__text Роби свої прогнози на переможця кожної гонки в сезоні Формули 1, роби виграшні ставки від 200 UAH та отримуй шанс розділити призовий фонд  призовий фонд 660 000 ігрових замінників гривні #[br] (по 100 000 за кожну гонку)
      a(href='#').info__btn.custom-btn Зробити прогноз
  .rules
    .rules__bg
    .rules__container
      .rules__title Як взяти участь?
      .rules__list
        .rules__item
          .rules__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/rules/rules-item1-desc.png")
              source(media="(max-width: 550px)" srcset="img/rules/rules-item1-mob.png")
              img(src="img/rules/rules-item1-desc.png" alt="Favbet")
          .rules__item-text Обери переможця #[br] #[span гонки]
        .rules__item
          .rules__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/rules/rules-item2-desc.png")
              source(media="(max-width: 550px)" srcset="img/rules/rules-item2-mob.png")
              img(src="img/rules/rules-item2-desc.png" alt="Favbet")
          .rules__item-text Натисни кнопку #[span "Зробити прогноз"]
        .rules__item
          .rules__item-img
            picture
              source(media="(min-width: 551px) " srcset="img/rules/rules-item3-desc.png")
              source(media="(max-width: 550px)" srcset="img/rules/rules-item3-mob.png")
              img(src="img/rules/rules-item3-desc.png" alt="Favbet")
          .rules__item-text Зроби виграшну ставку #[span від 200 UAH]
      details.custom-drop.rules__drop
        summary.custom-drop-title Деталі:
        .custom-drop-txt
          .custom-drop-txt-wrap Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda aut beatae commodi consequatur cum dicta dolore earum expedita, fugit hic impedit ipsam, iste iusto labore laborum laudantium libero nam perferendis possimus praesentium quaerat quasi quo voluptate voluptatem! Ab accusamus accusantium alias aspernatur atque consequuntur debitis dolorem doloribus ea eaque eius exercitationem fugiat harum incidunt ipsa laboriosam molestiae molestias, necessitatibus nemo neque nobis omnis perferendis placeat quaerat quasi quia quidem rerum saepe sapiente sunt temporibus unde vel voluptates. Aliquam cumque doloremque, eligendi et, nisi nostrum officiis pariatur quam quod reiciendis veniam voluptatibus! Ab aperiam architecto aspernatur commodi consequatur deleniti doloribus ea eaque enim eos est expedita facere harum illo impedit incidunt ipsa iusto magnam maxime minima minus modi mollitia necessitatibus nemo nesciunt nisi pariatur perferendis quae quas quasi quibusdam quisquam quo saepe vero voluptas voluptatem, voluptatum. Animi incidunt ipsum minima nisi placeat quia quibusdam quisquam quo repellat reprehenderit sunt, ullam unde vitae! Asperiores assumenda exercitationem id magnam placeat quod saepe sit tempora? Ad alias architecto asperiores blanditiis cum dolorem doloribus eaque eligendi, enim in iusto laborum minus molestiae natus optio perspiciatis porro praesentium quae quam quo reprehenderit rerum sequi, tempora temporibus tenetur voluptatem voluptatum. Cumque dicta eum laboriosam modi nulla obcaecati velit, voluptatibus! Accusantium adipisci alias architecto beatae commodi cumque delectus doloribus excepturi facere fugit harum hic id laudantium maiores minima modi nemo officia officiis optio quaerat quo quos rem, tempora ullam vel! Accusantium animi, assumenda at, consectetur distinctio error ex explicabo id illum impedit ipsum laboriosam natus, nemo nesciunt non perspiciatis reiciendis vero? Accusamus amet aperiam at blanditiis consectetur deserunt dicta dolores eaque eum eveniet harum illo illum in ipsam iusto maiores nam natus necessitatibus nostrum optio porro possimus quam rem repellendus, saepe sapiente sit soluta temporibus tenetur totam veritatis voluptate voluptatem voluptatum! Adipisci alias amet asperiores at, consequuntur corporis deserunt dignissimos eligendi esse et eum incidunt ipsa ipsam ipsum molestias necessitatibus odit perspiciatis praesentium quia quod sapiente sit temporibus unde veniam vitae voluptas voluptate. Aperiam architecto, beatae, commodi deleniti dignissimos dolor dolorem et eum eveniet facere fugiat harum ipsam itaque iusto minus neque nulla placeat quaerat quis quisquam ratione reiciendis rem repellat sequi sint tenetur unde. Alias at, consectetur dignissimos distinctio dolor eligendi ex laboriosam natus neque nulla placeat provident quas quis reiciendis sapiente? Id, obcaecati quae. Accusamus aliquid asperiores cupiditate delectus dolorem dolorum ea eos eum, illo in, ipsa laboriosam, molestias odit quo quod sequi soluta totam.
  .formula
    .formula__bg
    .formula__bg-slider
    .formula__container
      .formula__wrapper
        .formula__control
          .formula__control-left.formula__control-btn
          .formula__control-right.formula__control-btn
        .formula__slider
          .formula__item.item1
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Японія
                .formula__item-date 07 #[span КВІ]
              .formula__item-image
                img(src='img/formula/trace1.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 05.04.2024 - 07.04.2024
          .formula__item.item2
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Китай
                .formula__item-date 21 #[span КВІ]
              .formula__item-image
                img(src='img/formula/trace2.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 19.04.2024 - 21.04.2024
          .formula__item.item3
            .formula__item-wrap
              .formula__item-row
                .formula__item-title США
                .formula__item-date 05 #[span ТРА]
              .formula__item-image
                img(src='img/formula/trace3.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 03.05.2024 - 05.05.2024
          .formula__item.item4
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Італія
                .formula__item-date 19 #[span ТРА]
              .formula__item-image
                img(src='img/formula/trace4.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 7.05.2024 - 19.05.2024
          .formula__item.item5
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Монако
                .formula__item-date 26 #[span ТРА]
              .formula__item-image
                img(src='img/formula/trace5.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 24.05.2024 - 26.05.2024
          .formula__item.item6
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Канада
                .formula__item-date 09 #[span ЧЕР]
              .formula__item-image
                img(src='img/formula/trace6.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 07.06.2024 - 09.06.2024
          .formula__item.item7
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Іспанія
                .formula__item-date 23 #[span ЧЕР]
              .formula__item-image
                img(src='img/formula/trace7.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 21.06.2024 - 23.06.2024
          .formula__item.item8
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Австрія
                .formula__item-date 30 #[span ЧЕР]
              .formula__item-image
                img(src='img/formula/trace8.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 28.06.2024 - 30.06.2024
          .formula__item.item9
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Англія
                .formula__item-date 07 #[span ЛИП]
              .formula__item-image
                img(src='img/formula/trace9.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 05.07.2024 - 07.07.2024
          .formula__item.item10
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Угорщина
                .formula__item-date 21 #[span ЛИП]
              .formula__item-image
                img(src='img/formula/trace10.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 19.07.2024 - 21.07.2024
          .formula__item.item11
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Бельгія
                .formula__item-date 28 #[span ЛИП]
              .formula__item-image
                img(src='img/formula/trace11.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 26.07.2024 - 28.07.2024
          .formula__item.item12
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Нідерланди
                .formula__item-date 25 #[span СЕР]
              .formula__item-image
                img(src='img/formula/trace12.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 23.08.2024 - 25.08.2024
          .formula__item.item13
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Італія
                .formula__item-date 01 #[span ВЕР]
              .formula__item-image
                img(src='img/formula/trace13.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 29.08.2024 - 01.09.2024
          .formula__item.item14
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Азербайджан
                .formula__item-date 15 #[span ВЕР]
              .formula__item-image
                img(src='img/formula/trace14.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 13.09.2024 - 15.09.2024
          .formula__item.item15
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Сингапур
                .formula__item-date 22 #[span ВЕР]
              .formula__item-image
                img(src='img/formula/trace15.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 20.09.2024 - 22.09.2024
          .formula__item.item16
            .formula__item-wrap
              .formula__item-row
                .formula__item-title США
                .formula__item-date 20 #[span ЖОВ]
              .formula__item-image
                img(src='img/formula/trace16.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 18.10.2024 - 20.10.2024
          .formula__item.item17
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Мексика
                .formula__item-date 27 #[span ЖОВ]
              .formula__item-image
                img(src='img/formula/trace17.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 25.10.2024 - 27.10.2024
          .formula__item.item18
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Бразилія
                .formula__item-date 03 #[span ЛИС]
              .formula__item-image
                img(src='img/formula/trace18.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 01.11.2024 - 03.11.2024
          .formula__item.item19
            .formula__item-wrap
              .formula__item-row
                .formula__item-title США
                .formula__item-date 23 #[span ЛИС]
              .formula__item-image
                img(src='img/formula/trace19.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 21.11.2024 - 23.11.2024
          .formula__item.item20
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Катар
                .formula__item-date 01 #[span ГРУ]
              .formula__item-image
                img(src='img/formula/trace20.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 29.11.2024 - 01.12.2024
          .formula__item.item21
            .formula__item-wrap
              .formula__item-row
                .formula__item-title Абу-Дабі
                .formula__item-date 08 #[span ГРУ]
              .formula__item-image
                img(src='img/formula/trace21.png' alt='trace')
              .formula__item-per
                .formula__item-per-title Період
                .formula__item-per-date 06.12.2024 - 08.12.2024
    .winner
      .winner__bg
      .winner__bg-table
      .winner__container
        .winner__title Переможець Гран-Прі Ukraine Гонщик №1
        .winner__info
          .winner__info-place
            .winner__info-place-num 1#[span st]
            .winner__info-place-kof 1.87
          .winner__info-name Kevin Magnussen
          .winner__info-round
            .winner__info-round-top Раунд 18 • Qatar
            .winner__info-round-bottom FERRARI
        .winner__des без урахування ферстапена
        .table
          .table__title Учасники
          .tableResults
            .tableResults__container
              .tableResults__wrap#results-table-one
                .tableResults__head
                  .tableResults__head-list
                    .tableResults__head-col(data-translate="tableResultsHeadPlace") ID гравця
                    .tableResults__head-col(data-translate="tableResultsHeadId") Дата та час прогнозу
                    .tableResults__head-col(data-translate="tableResultsHeadPoints") Прогнози
                    .tableResults__head-col(data-translate="tableResultsHeadPrize") Приз
                .tableResults__body#top-users
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
        a(href='#').custom-btn.winner__btn наступний етап
    .choose
      .choose__bg
      .choose__bg-table
      .choose__container
        .choose__title Обери переможця гонки
        .choose__list
          .choose__item гонщик 1
          .choose__item гонщик 2
          .choose__item гонщик 3
          .choose__item._active гонщик 4
          .choose__item гонщик 5
          .choose__item гонщик 6
          .choose__item гонщик 7
          .choose__item гонщик 8
          .choose__item гонщик 9
          .choose__item гонщик 10
          .choose__item гонщик 11
          .choose__item гонщик 12
          .choose__item гонщик 13
          .choose__item гонщик 14
          .choose__item гонщик 15
          .choose__item гонщик 16
          .choose__item гонщик 17
          .choose__item гонщик 18
          .choose__item гонщик 19
          .choose__item гонщик 20
        .choose__des Для участі в Акції не враховуються прогнози на результати заїзду автогонщика Макса Ферстапенна. У випадку, якщо переможцем заїзду стане Макс Ферстапенн - правильним буде вважатись прогноз на автогонщика, який займе друге місце у відповідному заїзді.
        a(href='#').custom-btn.choose__link Зробити прогноз
        .choose__info #[span Твій останній прогноз:] гонщик №1
        .choose__select
          .choose__select-item.green._active прогноз підтверджено ставкою
          .choose__select-item.red прогноз не підтверджено ставкою



        .table
          .table__title Учасники
          .tableResults
            .tableResults__container
              .tableResults__wrap#results-table-two
                .tableResults__head
                  .tableResults__head-list
                    .tableResults__head-col(data-translate="tableResultsHeadPlace") ID гравця
                    .tableResults__head-col(data-translate="tableResultsHeadId") Дата та час прогнозу
                    .tableResults__head-col(data-translate="tableResultsHeadPoints") Прогнози
                    .tableResults__head-col(data-translate="tableResultsHeadPrize") Приз
                .tableResults__body
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
                  .tableResults__row
                    .tableResults__body-col ***43443
                    .tableResults__body-col 09.07.2024 13:37
                    .tableResults__body-col Гонщик нелегальный
                    .tableResults__body-col ** *** UAH
        a(href='#').custom-btn.winner__btn наступний етап
    .closed
      .closed__bg
      .closed__container
        .closed__title Обери переможця гонки
        .closed__info
          .closed__info-img
            img(src='img/closed/closed.svg' alt='closed')
          .closed__info-text
            .closed__info-text-top Прогноз на цей заїзд почнуть приймати
            .closed__info-text-bottom хх.хх.2024 о 12:00
        a(href='#').custom-btn.winner__btn обрати інший етап
  .footer
    .footer__container
      details.custom-drop.footer__drop
        summary.custom-drop-title Правила:
        .custom-drop-txt
          .custom-drop-txt-wrap Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda aut beatae commodi consequatur cum dicta dolore earum expedita, fugit hic impedit ipsam, iste iusto labore laborum laudantium libero nam perferendis possimus praesentium quaerat quasi quo voluptate voluptatem! Ab accusamus accusantium alias aspernatur atque consequuntur debitis dolorem doloribus ea eaque eius exercitationem fugiat harum incidunt ipsa laboriosam molestiae molestias, necessitatibus nemo neque nobis omnis perferendis placeat quaerat quasi quia quidem rerum saepe sapiente sunt temporibus unde vel voluptates. Aliquam cumque doloremque, eligendi et, nisi nostrum officiis pariatur quam quod reiciendis veniam voluptatibus! Ab aperiam architecto aspernatur commodi consequatur deleniti doloribus ea eaque enim eos est expedita facere harum illo impedit incidunt ipsa iusto magnam maxime minima minus modi mollitia necessitatibus nemo nesciunt nisi pariatur perferendis quae quas quasi quibusdam quisquam quo saepe vero voluptas voluptatem, voluptatum. Animi incidunt ipsum minima nisi placeat quia quibusdam quisquam quo repellat reprehenderit sunt, ullam unde vitae! Asperiores assumenda exercitationem id magnam placeat quod saepe sit tempora? Ad alias architecto asperiores blanditiis cum dolorem doloribus eaque eligendi, enim in iusto laborum minus molestiae natus optio perspiciatis porro praesentium quae quam quo reprehenderit rerum sequi, tempora temporibus tenetur voluptatem voluptatum. Cumque dicta eum laboriosam modi nulla obcaecati velit, voluptatibus! Accusantium adipisci alias architecto beatae commodi cumque delectus doloribus excepturi facere fugit harum hic id laudantium maiores minima modi nemo officia officiis optio quaerat quo quos rem, tempora ullam vel! Accusantium animi, assumenda at, consectetur distinctio error ex explicabo id illum impedit ipsum laboriosam natus, nemo nesciunt non perspiciatis reiciendis vero? Accusamus amet aperiam at blanditiis consectetur deserunt dicta dolores eaque eum eveniet harum illo illum in ipsam iusto maiores nam natus necessitatibus nostrum optio porro possimus quam rem repellendus, saepe sapiente sit soluta temporibus tenetur totam veritatis voluptate voluptatem voluptatum! Adipisci alias amet asperiores at, consequuntur corporis deserunt dignissimos eligendi esse et eum incidunt ipsa ipsam ipsum molestias necessitatibus odit perspiciatis praesentium quia quod sapiente sit temporibus unde veniam vitae voluptas voluptate. Aperiam architecto, beatae, commodi deleniti dignissimos dolor dolorem et eum eveniet facere fugiat harum ipsam itaque iusto minus neque nulla placeat quaerat quis quisquam ratione reiciendis rem repellat sequi sint tenetur unde. Alias at, consectetur dignissimos distinctio dolor eligendi ex laboriosam natus neque nulla placeat provident quas quis reiciendis sapiente? Id, obcaecati quae. Accusamus aliquid asperiores cupiditate delectus dolorem dolorum ea eos eum, illo in, ipsa laboriosam, molestias odit quo quod sequi soluta totam.






